* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f7fb;
  width: 100vw;
  height: 100vh;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f7fb;
  width: 800px;
  margin: 0 auto;

  padding: 15px;
}
.logo {
  color: "gray";
  background-color: "#f6f7fb";
  border-radius: 50%;
}
.logo2 {
  color: "gray";
}
.logo2-container {
}
.title {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.motivation {
  background-color: #fff;
  padding: 15;
  border-radius: 10;
  margin-bottom: 15;
  font-style: italic;
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  gap: 15;

  padding: 10px;
}
.card {
  border-radius: 14;
  padding: 12;
  box-shadow: "0 8px 20px rgba(0,0,0,0.05)";
  display: flex;
  flex-direction: column;
  gap: 6;

  padding: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  padding: 10px;
}
input {
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .container {
    width: 500px;
    margin: 0 auto;

    padding: 15px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
